<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADMIN APP</h1>
    <a href="{% url 'eadmin:approve' %}"><h2>approve sellers</h2></a>
    <a href="{% url 'eadmin:view' %}"><h2>view sellers</h2></a>
    <a href="{% url 'eadmin:viewcustomers' %}"><h2>view customers</h2></a>
    <a href="{% url 'eadmin:changepassword' %}"><h2>change password</h2></a>
</body>
</html>